<mat-table
    matSort
    cdkDropList
    cdkDropListOrientation="horizontal"
    [dataSource]="sortedDataItemCosts"
    (matSortChange)="sortData($event)" id="visa-cost-item"
    (cdkDropListDropped)="tableDrop($event)"
    class="mat-elevation-z8">

    <ng-container *ngFor="let column of itemsColumns; let i = index"
                  [matColumnDef]="column.ItemCostKey">
        <ng-container *ngIf="column.Visible">
            <mat-header-cell
                *matHeaderCellDef
                cdkDrag
                cdkDragLockAxis="x"
                [resizeColumn]="true"
                [index]="i"
                mat-sort-header={{column.ItemCostKey}}>
                {{ column.Name }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <app-edit-numeric *ngIf="column.ItemCostKey === 'TotalSumPlan';
                        else elseBlock"
                                  [value]="element[column.ItemCostKey]"
                                  (outValue)="changeTotalSumPlan($event, element[column.ItemCostKey])"></app-edit-numeric>
                <ng-template #elseBlock>{{ element[column.ItemCostKey]}}</ng-template>
            </mat-cell>
        </ng-container>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayColumns"
                    class="tableHeaderRow"
                    #tableHeaderRow></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
</mat-table>

