<mat-table
    (cdkDropListDropped)="tableDrop($event)"
    (matSortChange)="sortData($event)"
    [dataSource]="sortedDataItemCosts"
    cdkDropList
    cdkDropListOrientation="horizontal" class="mat-elevation-z8"
    id="visa-cost-item"
    matSort>

    <ng-container *ngFor="let column of itemsColumns; let i = index"
                  [matColumnDef]="column.ItemCostKey">
        <ng-container *ngIf="column.Visible">
            <mat-header-cell
                *matHeaderCellDef
                [index]="i"
                [resizeColumn]="true"
                cdkDrag
                cdkDragLockAxis="x"
                mat-sort-header={{column.ItemCostKey}}>
                {{ column.Name }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <app-edit-numeric (outValue)="changeTotalSumPlan($event, element[column.ItemCostKey])"
                                  *ngIf="column.ItemCostKey === 'TotalSumPlan';
                        else elseBlock"
                                  [value]="element[column.ItemCostKey]"></app-edit-numeric>
                <ng-template #elseBlock>{{ element[column.ItemCostKey]}}</ng-template>
            </mat-cell>
        </ng-container>
    </ng-container>

    <mat-header-row #tableHeaderRow
                    *matHeaderRowDef="displayColumns"
                    class="tableHeaderRow"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
</mat-table>

