<div *ngIf="apiService.VisaCostSummary">
    <mat-card>
        <mat-card-content>
            <h2>Отображаемые колонки</h2>
            <section class="filter-section">
                <ng-container *ngFor="let item of apiService.VisaCostSummary.GetVisaItemsResult.CostItemColumn">
                    <app-filteredcolumns [column]=item></app-filteredcolumns>
                </ng-container>
            </section>
        </mat-card-content>
    </mat-card>

    <app-visa-cost [itemsColumnsArg]="apiService.VisaCostSummary.GetVisaItemsResult.CostItemColumn"
                   [itemCostsArg]="apiService.VisaCostSummary.GetVisaItemsResult.CostItemsResult"></app-visa-cost>
</div>

