<div *ngIf="apiService.VisaCostSummary">
    <button mat-raised-button color="warn" class="save-button">Отменить</button>
    <button mat-raised-button color="primary" class="save-button">Сохранить</button>
    <mat-expansion-panel class="mat-card-check-box expanded-card">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Отображаемые колонки
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card>
            <mat-card-content class="filter-section">
                <ng-container *ngFor="let item of apiService.VisaCostSummary.GetVisaItemsResult.CostItemColumn">
                    <app-filteredcolumns [column]=item></app-filteredcolumns>
                </ng-container>
            </mat-card-content>
        </mat-card>

    </mat-expansion-panel>
    <app-visa-cost [itemsColumnsArg]="apiService.VisaCostSummary.GetVisaItemsResult.CostItemColumn"
                   [itemCostsArg]="apiService.VisaCostSummary.GetVisaItemsResult.CostItemsResult"></app-visa-cost>
</div>

