.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(255, 255, 255);
    /* background-color: white; */
}

/* Font color */
input.mat-input-element {
    color: rgb(0, 0, 0);
}

.mat-mdc-form-field-infix {
    flex: auto;
    min-width: 0;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
